{% extends 'layout.html.twig' %}

{% block title %}Ajout d'un Agents{% endblock %}

{% block body %}
<div id="main">
    <!-- One -->
    <section id="one">
        <header class="major">
            <h2> Ajouter un nouvel agent</h2>
        </header>
    </section>

    <!-- Two -->
    <section id="two">
        <div class="row">
            <div class="button-new">
                <a href="{{ path('app_agents_index') }}" class="button">Retour à la liste</a>
            </div>
             {{ include('agents/_form.html.twig') }}
        </div>
     </section>
</div>
{% endblock %}
