{% extends 'layout.html.twig' %}

{% block body %}
    <!-- Main -->
    <div id="main">
        <!-- One -->
        <section id="one">
            <header class="major">
                <h2>Annuaire des services</h2>
            </header>
            <p>Bienvenu dans l'application de documentation des services de la mairie de More-Loing-et-Orvanne</p>
            <p>Sur cet application, vous trouverez : </p>
            <ul>
                <li>La liste des services</li>
                <li>Leur localisation</li>
                <li>Les numéros de téléphone associés</li>
                <li>La liste des agents</li>
                <li>Les données relatives aux services</li>
            </ul>
            <ul class="actions">
                <li>
                    <!-- Footer -->
                    <footer id="footer">
                        <div class="inner">
                            <ul class="icons">
                                <li><a href="https://netherion-game.cybix-technology.com" class="icon brands fa-google" target="_blank"><span class="label">Website</span></a></li>
                                <li><a href="https://x.com/NetherionGame" class="icon brands fa-x-twitter" target="_blank"><span class="label">X-Twitter</span></a></li>
                                <li><a href="https://www.linkedin.com/in/julien-grima-927612129/" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
                                <li><a href="mailto:netherion-info@cybix-technology.com" class="icon solid fa-envelope" target="_blank"><span class="label">Email</span></a></li>
                            </ul>
                            <ul class="copyright">
                                <li>&copy; Julien grima</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                            </ul>
                        </div>
                    </footer>
                </li>
            </ul>
        </section>
        <!-- Two -->
        <!-- Three -->
    </div>
{% endblock %}