{% extends 'layout.html.twig' %}

{% block title %}Nouveau téléphone{% endblock %}

{% block body %}
<div id="main">
    <!-- One -->
    <section id="one">
        <header class="major">
            <h2> Ajouter un nouveau téléphone</h2>
        </header>
    </section>
    <!-- Two -->
    <section id="two">
        <div class="row">
            <div class="button-new">
                <a href="{{ path('app_phone_index') }}" class="button">Retour à la liste</a>
            </div>
            {{ include('phone/_form.html.twig') }}
        </div>
    </section>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.8/inputmask.min.js"></script>
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            const phoneInput = document.getElementById('number');
            if (phoneInput) {
                Inputmask({
                    mask: "99 99 99 99 99",
                    placeholder: " ",
                    showMaskOnHover: false
                }).mask(phoneInput);
            }
        });
    </script>
{% endblock %}
