{% extends 'layout.html.twig' %}

{% block title %}Edition de Service{% endblock %}

{% block body %}
<div id="main">
    <!-- One -->
    <section id="one">
        <header class="major">
            <h2>Éditer le service</h2>
        </header>
    </section>

    <!-- Two -->
    <section id="two">
        <div class="row">
            <div class="button-new">
                <ul class="icons">
                    <li>
                        <a href="{{ path('app_service_index') }}" class="button">Retour à la liste</a>
                    </li>
                    <li>
                        {{ include('service/_delete_form.html.twig') }}
                    </li>
                </ul>
            </div>

            {{ include('service/_formEdit.html.twig', {'button_label': 'Modifier'}) }}
        </div>
    </section>
</div>
{% endblock %}