<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}MLO Informations{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/LOGO-MLO.jpg') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="..." crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block header %}{% endblock %}
        {% block body %}
        {% endblock %}
        {% block footer %}{% endblock %}
    </body>
{% block javascripts %}
    {# CKEDITOR #}
    {# <script src="{{ asset('controllers/ckeditor5.umd.js') }}"></script> #}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    {# DATATABLES #}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
    <script>
        function openLoginModal() {
            document.getElementById('modal-login').classList.remove('hidden');
            document.body.classList.add('is-blurred');
        }

        function closeLoginModal() {
            document.getElementById('modal-login').classList.add('hidden');
            document.body.classList.remove('is-blurred');
        }
    </script>
{% endblock %}
</html>