{% extends 'base.html.twig' %}

{% block header %}
<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="{{asset('home')}}" class="image avatar"><img src="{{ asset('images/LOGO-MLO.jpg') }}" alt="Logo MLO" /></a>
        <ul class="header-button">
            <li class="header-button-li"><a href="{{ path('app_information') }}" class="button"><h1>Accueil</h1></a></li>
            <li class="header-button-li"><a href="{{ path('app_information') }}" class="button"><h1>Administrateur</h1></a></li>
        </ul>
    </div>
</header>
{% endblock %}
{% block footer %}
{% endblock %}

